<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phonenumber</th>
                <th>Address</th>
                <th>Policynumber</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of fetchedCustomer">
                <td>{{ customer.userId }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phoneNum }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.policyNum }}</td>
              </tr>
        </tbody>
    </table>
</div>