<h3 style="text-align: center">Send your Query</h3>
<div>
  <form [formGroup]="queryForm" (ngSubmit)="onSubmit()"
    autocomplete="off"
    enctype="multipart/form-data"
    style="margin-left: 200px; margin-right: 200px"
  >
    <label for="userId">User Id</label>
    <input type="text" name="query" userId="query" class="form-control" formControlName="userId" [ngModel]="userId" [disabled]="true"/>
    <label for="query">Question</label>
    <textarea type="text" name="query" id="query" class="form-control" formControlName="query"></textarea>

    <button class="btn btn-primary w-100 mt-1" type="submit">Send Query</button>
  </form>
</div>
