<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Policy Id</th>
                <th>Policy Type</th>
                <th>Policy Number</th>
                <th>User Id</th>
                <th>Approval Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let policy of fetchedPolicy" >
                <td>{{policy.policyId}}</td>
                <td>{{policy.policyType}}</td>
                <td>{{policy.policyNum}}</td> 
                <td>{{policy.userId}}</td>
                <!-- <td>{{policy.approval}}</td> -->
                <td [ngModel]>{{approval}}</td>
                <td>
                    <!-- <button type="button" class="btn btn-outline-info" (click)="onApprove(policy)" >Approve</button>
                    <button type="button" class="btn btn-outline-warning" (click)="onDisapprove(policy)">Disapprove</button> -->

                    <button type="button" class="btn btn-outline-info" (click)="onApprove(policy)" >Approve</button>
                    <button type="button" class="btn btn-outline-warning" (click)="onDisapprove()">Disapprove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
