<br /><br />

<h3 class="alert alert-success" style="margin-bottom: 0px; align-items: center">
  About Us !
</h3>

<div class="jumbotron text-center" style="margin-bottom: 0px; margin-top: 0px">
  <p class="lead">
    “Every month that you send a check to the life insurance company, you're
    making a bet with them. Don't worry, one day you'll win.”
  </p>
  <hr class="my-4" />
  <p>Explore our Website.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
  </p>
  <br /><br /><br /><br />
</div>
