<!-- <a class="btn btn-primary" routerLink="/useraccount/{id}">View Profile</a> -->
<div class="container">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Query Id</th>
        <th>User Id</th>
        <th>Query</th>
        <th>Answer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let query of fetchedQuery">
        <td>{{ query.queryId }}</td>
        <td>{{ query.userId }}</td>
        <td>{{ query.query }}</td>
        <td>{{ query.answer }}</td>
        <td>
          <button
            class="btn btn-outline-info"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="onEdit(query)"
          >
            Answer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Answer Query</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="QueryForm" style="color: rgb(120, 55, 5)">
          <div class="row mb-2">
            <div class="form-group">
              <label for="queryId">Query Id</label>
              <input
                type="text"
                id="queryId"
                class="form-control"
                name="queryId"
                required
                formControlName="queryId"
                [disabled]="true"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="form-group">
              <label for="userId">User Id</label>
              <input
                type="text"
                id="userId"
                class="form-control"
                name="userId"
                required
                formControlName="userId"
                [disabled]="true"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="form-group">
              <label for="query">Query</label>
              <textarea
                type="text"
                id="query"
                class="form-control"
                name="query"
                required
                formControlName="query"
              ></textarea>
            </div>
          </div>
          <div class="row mb-2">
            <div class="form-group">
              <label for="answer">Answer</label>
              <textarea
                type="text"
                id="answer"
                class="form-control"
                name="answer"
                formControlName="answer"
                required
              ></textarea>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            (click)="updatePolicy()"
            class="btn btn-primary"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>