<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row g-0">
      <div class="col-head text-center p-2 mb-3">
        <span class="fs-3">User Login</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="email" class="form-label"></label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
        <span
          style="color: red"
          class="small"
          *ngIf="
            !loginForm.get('email').valid && loginForm.get('email').touched
          "
          ><small>*Please enter a valid email</small></span
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="password" class="form-label"></label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        <span
          style="color: red"
          class="small"
          *ngIf="
            !loginForm.get('password').valid &&
            loginForm.get('password').touched
          "
          ><small>*Please enter a valid password</small></span
        >
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <a class="forgotlink" routerLink="">Forgot Password</a>
      </div>
      <div class="col">
        <a class="registerlink" routerLink="/signup">Register</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          class="btn btn-primary w-100 mt-4"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </div>
    </div>
  </form>
</div>
