<div class="container">
  <h3>History</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Policy ID</th>
        <th>User ID</th>
        <th>Username</th>
        <th>Policy Type</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of policies">
        <td>{{ p.policyNum }}</td>
        <td>{{ p.userId }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.policytype }}</td>
        <td>{{ p.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
