<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="row g-0">
            <div class="col-head text-center p-1 ">
                <span class="fs-3">Registration</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="name" class="form-label"></label>
                <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                <span style="color: red" class="small" *ngIf="!signupForm.get('name').valid &&signupForm.get('name').touched"><small>*Please enter a valid name</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email" class="form-label"></label>
                <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                <span style="color: red" class="small" *ngIf="!signupForm.get('email').valid &&signupForm.get('email').touched"><small>*Please enter a valid email</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="phoneNum" class="form-label"></label>
                <input type="text" class="form-control" id="phoneNum" placeholder="Phonenumber" formControlName="phoneNum">
                <span style="color: red" class="small" *ngIf="!signupForm.get('phoneNum').valid &&signupForm.get('phoneNum').touched"><small>*Please enter a valid phonenumber</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="address" class="form-label"></label>
                <textarea type="text" class="form-control" id="address" placeholder="Address" formControlName="address"></textarea>
                <span style="color: red" class="small" *ngIf="!signupForm.get('address').valid &&signupForm.get('address').touched"><small>*Please enter a valid address</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="password" class="form-label"></label>
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                <span style="color: red" class="small" *ngIf="!signupForm.get('password').valid &&signupForm.get('password').touched"><small>*Please enter a valid password</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="policyNum" class="form-label"></label>
                <input type="text" class="form-control" id="policyNum" placeholder="Policynumber" formControlName="policyNum" [disabled]="true">
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <small class="text-muted">Already Have An Account ?</small><a class="loginlink" routerLink="/login">Login</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary w-100 mt-1" type="submit" [disabled]="!signupForm.valid">Register</button>
            </div>
        </div>
    </form>
    
</div>

